@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin';

.ag-theme-alpine {
    @include ag-theme-alpine(
        (
            borders: false,
        )
    );

    .ag-row {
        cursor: pointer;
    }
}
