@tailwind base;
@layer base {
    body {
        @apply m-0;
    }
    h1 {
        @apply text-2xl font-bold text-purple-700;
    }
    h2 {
        @apply text-lg font-bold text-purple-700 pb-4;
    }
    h3 {
        @apply font-semibold;
    }
    label {
        @apply uppercase;
    }
    a {
        @apply uppercase block border focus:outline-none px-8 py-3 text-sm text-white bg-purple-600 hover:bg-purple-800;
    }
}

@tailwind components;
@tailwind utilities;
